<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
      <param name="File" value="logs\logFile.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10KB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="- [Log Start]" />
        <param name="Footer" value="[Log End] -" />
        <param name="ConversionPattern" value="%n%d [%t] %-5p %m " />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <appSettings>
    <add key="FolderSourceMonitor" value="c:\\Folder1\\" />
    <add key="FolderDest" value="c:\\Folder2\\" />
    <add key="FolderMonitorEvent" value="FolderMonitorEvent" />
    <add key="FolderMonitorSourceEvent" value="FolderMonitor" />
    <add key="FolderMonitorEvent" value="FolderMonitorEvent" />
    <add key="InstallDir" value="%ProgramFiles%\\WindowsAppService\\" />
	<add key="InstallDir_x86" value="%ProgramFiles(x86)%\\WindowsAppService\\" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>